<topbar />
<div class="flex flex-col gap-5 content-center max-w-[850px] m-auto p-5">
  <div class="flex flex-row gap-3 justify-between items-center">
    <p-floatlabel variant="on" class="w-full">
      <p-iconfield>
        <p-inputicon class="pi pi-search" />
        <input
          class="w-full"
          pInputText
          id="on_label"
          [(ngModel)]="value3"
          autocomplete="off"
        />
      </p-iconfield>
      <label for="on_label">Buscar Evento</label>
    </p-floatlabel>
    <div class="md:flex flex-row gap-1 hidden">
      <p-button
        label="Criar"
        icon="pi pi-plus"
        severity="success"
        (onClick)="createEvent()"
      />
      <p-button
        label="Modificar"
        icon="pi pi-pencil"
        severity="warn"
        (onClick)="updateEvent()"
      />
    </div>
  </div>

  <h1 class="text-3xl font-bold md:text-left text-center">Próximos eventos</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-3 justify-center m-auto">
    @for (event of events; track $index) {
    <app-event-card class="mb-5" [userEvent]="event" />
    }
  </div>

  <p-speeddial
    [model]="items"
    direction="up"
    class="fixed bottom-3 right-3 md:hidden"
    [buttonProps]="{
      severity: 'success',
      rounded: true,
      raised: true,
      size: 'large'
    }"
    [tooltipOptions]="{ tooltipPosition: 'left' }"
  />

  <p-toast />

  <p-dialog
    header="Criar Evento"
    [modal]="true"
    [(visible)]="visible"
    draggable="false"
    closable="false"
  >
    <div class="flex flex-col gap-1 mb-4">
      <label for="name">Nome</label>
      <input pInputText id="name" class="flex-auto" autocomplete="off" />
    </div>

    <div class="flex flex-col gap-1 mb-4">
      <label for="description">Descrição</label>
      <textarea id="description" rows="5" cols="30" pTextarea></textarea>
    </div>

    <div class="flex flex-col gap-1 mb-4">
      <label for="banner">Foto de Capa (URL)</label>
      <input pInputText id="banner" class="flex-auto" autocomplete="off" />
    </div>

    <div class="flex flex-col gap-1 mb-4">
      <label for="participants">Máximo de participantes</label>
      <p-inputnumber
        [showButtons]="true"
        buttonLayout="horizontal"
        spinnerMode="horizontal"
        inputId="participants"
        [min]="2"
        [max]="999999999"
        allowEmpty="false"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
      />
    </div>

    <div class="flex flex-row gap-1 mb-4">
      <div class="flex flex-col gap-1">
        <label for="participants">Data de início</label>
        <p-datepicker
          [showIcon]="true"
          [readonlyInput]="true"
          [showTime]="true"
          hourFormat="24"
          class="w-54"
          appendTo="body"
        />
      </div>
      <div class="flex flex-col gap-1">
        <label for="participants">Data de encerramento</label>
        <p-datepicker
          [showIcon]="true"
          [readonlyInput]="true"
          [showTime]="true"
          hourFormat="24"
          class="w-54"
          appendTo="body"
        />
      </div>
    </div>

    <div class="flex flex-col gap-1 mb-4">
      <label for="location">Local</label>
      <input pInputText id="location" class="flex-auto" autocomplete="off" />
    </div>

    <div class="flex flex-col gap-1 mb-4">
      <label for="category">Categoria</label>
      <p-select
        [options]="categorias"
        optionLabel="title"
        [filter]="true"
        filterBy="title"
        [showClear]="true"
        placeholder="Selecionar categoria"
        class="w-full"
        appendTo="body"
        showClear="true"
      />
    </div>

    <div class="flex justify-end gap-2">
      <p-button
        icon="pi pi-times"
        label="Cancelar"
        (click)="visible = false"
        text
      />
      <p-button icon="pi pi-check" label="Salvar" (click)="visible = false" />
    </div>
  </p-dialog>
</div>
