<p-card class="relative overflow-hidden md:mx-0 md:h-full">
  <ng-template #header>
    <p-tag
      class="text-3xl absolute top-[1rem] right-[1rem] z-10"
      value="{{ userEvent().category.title }}"
      [rounded]="true"
    />
    <a [routerLink]="['/event', userEvent().id]">
      <img
        alt="Imagem de capa do evento"
        class="w-full"
        [ngSrc]="userEvent().banner ?? 'https://placehold.co/400x250'"
        (error)="onImageError($event)"
        width="400"
        height="250"
        placeholder="https://placehold.co/400x250"
        [placeholderConfig]="{ blur: false }"
      />
    </a>
  </ng-template>
  <ng-template #title>
    <a [routerLink]="['/event', userEvent().id]">
      <h2 class="text-2xl">{{ userEvent().name }}</h2>
    </a>
  </ng-template>
  <ng-template #subtitle>
    <p>
      {{ userEvent().description ? userEvent().description : userEvent().name }}
    </p>
  </ng-template>
  <div class="my-2 gap-2 flex flex-col text-surface-600">
    <p>
      <i class="pi pi-calendar-clock mr-1"></i>
      {{ userEvent().startAt | date : "EEEE, d 'de' MMMM 'de' y 'às' HH:mm" }}
    </p>
    <p>
      <i class="pi pi-map-marker mr-1"></i>
      {{ userEvent().location }}
    </p>
  </div>
  <ng-template #footer>
    <div class="flex gap-4 mt-5 justify-between items-center">
      <div class="flex items-center">
        <p-avatar
          label="{{ userEvent().organizer.name[0] }}"
          class="mr-2"
          size="large"
          shape="circle"
        />
        <div class="flex flex-col">
          <h3 class="font-bold text-surface-600">
            {{ userEvent().organizer.name }}
          </h3>
          <p
            [title]="
              userEvent().organizer.email.length > 20
                ? userEvent().organizer.email
                : ''
            "
          >
            {{
              userEvent().organizer.email.length > 20
                ? (userEvent().organizer.email | slice : 0 : 20) + "..."
                : userEvent().organizer.email
            }}
          </p>
        </div>
      </div>
      <div class="flex gap-1">
        <app-share-event-button [eventId]="userEvent().id ?? ''"/>
      </div>
    </div>
  </ng-template>
</p-card>
